<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Register</h1>
        <div class="well">
            <form role="form" ng-submit="vm.register()">
                <div class="form-group">
                    <label for="register_email">Email</label>
                    <input type="email" class="form-control" id="register_email" ng-model="vm.email" placeholder="eg. foo@bar.com"/>
                </div>
                <div class="form-group">
                    <label for="register_username">Username</label>
                    <input type="text" class="form-control" id="register_username" ng-model="vm.username" placeholder="eg. foo"/>
                </div>
                <div class="form-group">
                    <label for="register_password">Password</label>
                    <input type="password" class="form-control" id="register_password" ng-model="vm.password" placeholder="eg. strong pass"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
